.background {
  background-color: hsl(233, 47%, 7%);
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.card {
  display: flex;
  background-color: hsl(244, 38%, 16%);
  width: 1000px;
  margin: auto;
  /* align-items: center; */
  border-radius: 10px;
}
.text-container {
  padding:  25px 100px 25px 50px;
}


.qr-img {
  object-fit: cover;
  
  border-radius: 0 10px 10px 0px;
  filter: hue-rotate(277deg);
}

.main-text {
  color: hsla(0, 0%, 100%, 0.75);
}

#stats-headings, .heading {
  color: hsl(0, 0%, 100%);
}

.data-container {
  display: flex;
  padding-top: 15px;
}

.data-item {
  justify-content: space-between;
  align-self: center;
  padding: 10px;
}




